/* *{
    color: antiquewhite;pour changer la couleur du texte de toute la page
} */

@font-face {
  font-family: NotoSerifJP;
  src: url(../fonts/Montserrat-Regular.ttf);
}
/* ajouter font téléchargée */

* {
  margin: 0;
  padding: 0;
}
/* reset la mise en place pour modifier chaque section  */

body {
  color: rgb(73, 17, 122);
  background-color: rgb(92, 124, 134);
  font-family: 'Montserrat', sans-serif;
}
/* body permet de faire des modifs sur toute la page  */
/* front-family = choix de la police */
/*  https://fonts.google.com/  */

header {
  color: black;
  background-color: rgb(118, 112, 139);
}
/* permets de changer la couleur de tous les header  */

p {
  color: rgb(18, 21, 24);
}
/* permet de changer couleur de tous les paragraphes  */

.titre {
  color: rgb(142, 116, 29);
}
/* en indiquant dans l'HTML la class "titre " on peut changer seulement les titres avec la mention class="titre" */

#paragraphe {
  border: solid 1px rgb(196, 69, 15);
}

/* en indiquant l'id dans l'html on peut changer seulement le paragraphe avec la mention id="paragraphe"
solid permet d'ajouter un cadre autour du paragraphe avec l'id  */

.paragraphe {
  border: solid 2px black;
}
/* ajout d'un cadre sur tous les paragraphes avec mention class=paragraphe */

a {
    color: darkorange;
}
/* change la couleur des liens  */

a:visited {
    color: crimson
    ; text-decoration: underline;
}
/* change couleur liens déjà visités et les souligne grace a text-decoration*/

a:hover{
  color: darkgreen;
  text-decoration: none;
}
/* change la couleur quand on passe sur un titre  */

p:hover{
  color: brown
  ;background-color: beige;
}
/* change la couleur quand on passe sur un paragraphe  */
